<div class="row">
  <div *ngIf="!hidenewUser">
    <h2>New User</h2>
    <form #form="ngForm" (ngSubmit)="onSubmitAddUser(form.value)" class="well">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" required name="username" ngModel>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" required name="password" ngModel>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" ngModel>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
  <user-detail *ngIf="selectedUser && hidenewUser"
                    (updateUserEvent)="onUpdateUserEvent($event)"
                    (deleteUserEvent)="onDeleteUserEvent($event)"
                    [user]="selectedUser">
  </user-detail>
</div>
<div *ngIf="!selectedUser && hidenewUser">
  <!--<button style="margin-bottom:2px;" type="button" (click)="newUser()" class="btn btn-success btn-block">+ New User</button>-->
  <user-list *ngIf="!selectedUser && hidenewUser"
                  (SelectUser)="onSelectUser($event)"
                  (CopyUserEvent)="onCopyAddUserEvent($event)"
                  (AddUserEvent) = "onAddUserEvent($event)"
                  [users]="users">
  </user-list>
</div>
