
<h2>Course Info</h2>
<div class="row">
  <div class="col-md-12">
    <div class="error" *ngIf="error">{{error}}</div>
    <div class="pull-right">
      <button class="btn btn-primary" (click)="addScorecard()">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Slope</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let scorecard of scorecards" [class.active]="scorecard === selectedScorecard">
        <td>{{scorecard.name}}</td>
        <td>{{scorecard.rating}}</td>
        <td>{{scorecard.slope}}</td>
        <a class="btn btn-primary" (click)="onSelect(scorecard)">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary col-sm-offset-2" (click)="onCopyAddScorecard(scorecard)">
          <i class="glyphicon glyphicon-copy"></i>
        </a>
      </tr>
      </tbody>
    </table>
  </div>
</div>
