<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Rochester Golf</a>
    </div>
    <ul class="nav navbar-nav" >
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>

      <li><a routerLink="/matches" routerLinkActive="active">Matches</a></li>
      <li><a routerLink="/members" routerLinkActive="active">Members</a></li>
      <li><a routerLink="/scorecards" routerLinkActive="active">Scorecards</a></li>
      <li><a routerLink="/scores" routerLinkActive="active">Scores</a></li>
      <li><a routerLink="/users" routerLinkActive="active">User</a></li>
    </ul>

  <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
    <li ui-sref-active="active">
      <a ui-sref="authentication.signup">Sign Up</a>
    </li>
    <li class="divider-vertical"></li>
    <li ui-sref-active="active">
      <a ui-sref="authentication.signin">Sign In</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
    <li class="dropdown" dropdown>
      <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
        <img class="header-profile-image" />
        <span ></span> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Edit Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">Change Profile Picture</a>
        </li>
        <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
          <a ui-sref="settings.password">Change Password</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.accounts">Manage Social Accounts</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/api/auth/signout" target="_self">Signout</a>
        </li>
      </ul>
    </li>
  </ul>

  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
