<div class="row">
    <div *ngIf="!hidenewMatch && !scoreMatch">
      <h2>New Match</h2>
      <match-detail

        (deleteMatchEvent)="onDeleteMatchEvent($event)"
        (submitAddMatchEvent) = "onSubmitAddMatchEvent($event)"
       >
      </match-detail>
      <!-- <member-block
        [members]="members"
        [scores]="scores"
        [match]="selectedMatch">
      </member-block> -->
    </div>
  <!-- <div *ngIf="!hidenewMatch">
    <h2>New Match2</h2>
    <form #form="ngForm" (ngSubmit)="onSubmitAddMatch(form.value)">
      <div class="form-group">
        <label class="col-sm-2 control-label"> Name: </label>
        <div class="col-sm-10">
        <input type="text" class="form-control" required name="name" ngModel>
      </div>
        </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Course: </label>
        <div class="col-sm-10">
          <select [(ngModel)]="match.scorecardId" name="scorecardId">
            <option *ngFor="let n of scorecards" [value]=n._id>
              {{ n.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label"> Date: </label>
        <div class="col-sm-10">
          <my-date-picker name="mydate" [options]="myDatePickerOptions"
                          [(ngModel)]="model"></my-date-picker>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Save</button>
          </div>
        </div>
    </form>
  </div> -->
  <match-detail *ngIf="selectedMatch && hidenewMatch && !scoreMatch"
                (updateMatchEvent) = "onUpdateMatchEvent($event)"
                (submitAddMatchEvent) = 'onSubmitAddMatchEvent($event)'

                (deleteMatchEvent) = "onDeleteMatchEvent($event)"
                [match] = "selectedMatch">
  </match-detail>
  <member-block *ngIf="selectedMatch && hidenewMatch && !scoreMatch"
                [members]="members"
                [scores]="scores"
                [match]="selectedMatch">
  </member-block>
</div>

<div *ngIf="!selectedMatch && hidenewMatch">
    <!-- <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button mat-icon-button color="primary" (click)="addMatch()">
                <mat-icon class="mat-18">create</mat-icon>
                Add
            </button>
          </div>
        </div>
      </div> -->
      <h2>Match List</h2>
    <div *ngIf = "!scoreMatch" class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button mat-icon-button color="primary" (click)="addMatch()">
                <mat-icon class="mat-18">create</mat-icon>
                Add
            </button>
          </div>
        </div>
      </div>

  <match-list *ngIf="!selectedMatch && hidenewMatch && !scoreMatch"

              (PairMatch) = "onPairMatch(match)"
              (DeleteMatchEvent) = "onDeleteMatchEvent($event)"
              [matches]="matches">
  </match-list>
</div>
<div>
  <match-score
              [DS] = "ds"
              [match] = 'scoredMatch'
              >
  </match-score>

  <!-- *ngIf = 'scoreMatch' -->
  <member-block *ngIf=" scoreMatch"
  [members]="members"
  [scores]="scores"
  [match]="scoredMatch">
</member-block>
</div>



